<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <script>
      MathJax = {
        loader: {load: ['[tex]/physics', '[tex]/boldsymbol']},
        tex: {
          packages: {'[+]': ['physics', 'boldsymbol']},
          inlineMath: [['$', '$'], ['\\(', '\\)']],
          macros: {
              N: "{\\mathbb N}",
              Z: "{\\mathbb Z}",
              Q: "{\\mathbb Q}",
              R: "{\\mathbb R}",
              C: "{\\mathbb C}",
              scC : "{\\mathcal C}",
              scO : "{\\mathcal O}",
              frX : "{\\mathfrak X}",
              Res : "{\\mathop{\\mathrm{Res}}}",
              Re : "{\\mathop{\\mathrm{Re}}}",
              Im : "{\\mathop{\\mathrm{Im}}}",
              im : "{\\mathop{\\mathrm{im}}}",
              id : "{\\mathop{\\mathrm{id}}}",
              tgrad : "{\\mathop{\\mathrm{grad}}}",
              tdiv : "{\\mathop{\\mathrm{div}}}",
              tcurl : "{\\mathop{\\mathrm{curl}}}",
              tlap : "{\\mathop{\\mathrm{lap}}}",
              d : ["{\\mathop{\\mathrm{d} #1}}", 1],
              abs : ["{\\left|#1 \\right|}", 1],
              hodgedual : ["{\\mathord{\\star}#1}", 1],
              prn: ["{\\left(#1 \\right)}", 1],
              bvec : ["{\\boldsymbol{\\mathrm{#1}}}",1],
              grad : ["{\\nabla {#1}}", 1],
              div : ["{\\nabla \\cdot {#1}}", 1],
              curl : ["{\\nabla \\times {#1}}", 1],
              lap : ["{\\nabla^2 {#1}}", 1],
              dal : ["{\\Box {#1}}", 1]
            }
        },
        svg: {
        fontCache: 'global'
          },
      };
    </script>
    <script type="text/javascript" id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
  </head>
  <body>
    <h1>{{ page.title }}</h1>
    <p><b>Published: </b> {{ page.date | date_to_string }}</p>
    {{ content }}
  </body>
</html>